src/main/wsdl/APIPlans.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://streamline/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://streamline/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://streamline/">
      <s:element name="GetBaselinePlanProject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="contract" type="tns:GetBaselinePlanProjectDataContract" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GetBaselinePlanProjectDataContract">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ASPNETSessionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsGetSubProjects" nillable="true" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBaselinePlanProjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBaselinePlanProjectResult" type="tns:BaselinePlanWrapper" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BaselinePlanWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthorId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreateDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Projects" type="tns:ArrayOfBaselinePlanProjectWrapper" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBaselinePlanProjectWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BaselinePlanProjectWrapper" nillable="true" type="tns:BaselinePlanProjectWrapper" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BaselinePlanProjectWrapper">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ProjectTypeId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentProjectId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentProjectName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StartDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="EndDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBaselinePlanProjectSoapIn">
    <wsdl:part name="parameters" element="tns:GetBaselinePlanProject" />
  </wsdl:message>
  <wsdl:message name="GetBaselinePlanProjectSoapOut">
    <wsdl:part name="parameters" element="tns:GetBaselinePlanProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="APIPlansSoap">
    <wsdl:operation name="GetBaselinePlanProject">
      <wsdl:input message="tns:GetBaselinePlanProjectSoapIn" />
      <wsdl:output message="tns:GetBaselinePlanProjectSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="APIPlansHttpPost" />
  <wsdl:binding name="APIPlansSoap" type="tns:APIPlansSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBaselinePlanProject">
      <soap:operation soapAction="http://streamline/GetBaselinePlanProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIPlansSoap12" type="tns:APIPlansSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetBaselinePlanProject">
      <soap12:operation soapAction="http://streamline/GetBaselinePlanProject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APIPlansHttpPost" type="tns:APIPlansHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="APIPlans">
    <wsdl:port name="APIPlansSoap" binding="tns:APIPlansSoap">
      <soap:address location="https://rbtn.a2nta.ru/components/services/APIPlans.asmx" />
    </wsdl:port>
    <wsdl:port name="APIPlansSoap12" binding="tns:APIPlansSoap12">
      <soap12:address location="https://rbtn.a2nta.ru/components/services/APIPlans.asmx" />
    </wsdl:port>
    <wsdl:port name="APIPlansHttpPost" binding="tns:APIPlansHttpPost">
      <http:address location="https://rbtn.a2nta.ru/components/services/APIPlans.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>